@use '../../styles/mixins.scss';

.component {
  position: relative;
}

.input {
  font-size: 16px;
  color: var(---text);
  border: 1px solid var(---gray);
  @include mixins.theme(all);
  padding: 15px 20px;
  border-radius: 10px;

  &:focus {
    border-color: var(---yellow);

    &+label {
      color: var(---yellow);
      top: 0;
    }
  }
}

.inputL {
  width: 100%;
}

.inputAuto {
  width: auto;
}

.label {
  color: var(---gray);
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  left: 15px;
  top: 0;
  padding: 0 5px;
  background: var(---bg);
  transform: translateY(-50%);
  transition:
    background-color .4s,
    color .4s,
    top .1s
}

.labelCenter {
  top: 50%;
}

.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}

.switchInput {
  display: none;
}

.switchIcon {
  position: relative;
  display: inline-block;
  max-width: 42px;
  min-width: 42px;
  min-height: 24px;
  max-height: 24px;
  background-color: #bebebe;
  border-radius: 22px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 38px;
    height: 20px;
    background-color: #bebebe;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scaleX(1);
    transition: all 0.25s linear;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
  }
}

.switchInput:checked+.label .switchIcon {
  background-color: #353535;

  &:before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
  }

  &:after {
    transform: translate3d(20px, 2px, 0);
  }
}