@use '../../styles/mixins.scss';

.component {
  position: relative;
}

.input {
  font-size: 16px;
  color: var(---text);
  border: 1px solid var(---gray);
  @include mixins.theme(all);
  padding: 15px 20px;
  border-radius: 10px;

  &:focus {
    border-color: var(---yellow);

    &+label {
      color: var(---yellow);
      top: 0;
    }
  }
}

.inputL {
  width: 100%;
}

.inputAuto {
  width: auto;
}

.label {
  color: var(---gray);
  font-size: 14px;
  position: absolute;
  left: 15px;
  top: 0;
  padding: 0 5px;
  background: var(---bg);
  transform: translateY(-50%);
  transition:
    background-color .4s,
    color .4s,
    top .1s
}

.labelCenter {
  top: 50%;
}

.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  position: relative;
  top: 0;
  transform: none;
  left: 0;
}

.switchInput {
  display: none;
}

/* SWITCH */
.switchWrapper {
  position: relative;
  display: inline-block;
  max-width: 80px;
  min-width: 80px;
  min-height: 40px;
  max-height: 40px;
  background-color: #FFFFFF;
  border-radius: 36px;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.switchIcon {
  @include mixins.flex-center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 27px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transform: translate3d(8px, -50%, 0);
  transition: all 0.3s linear;

  svg {
    width: 15px;
    height: 15px;
    margin-left: -1px;
  }
}

.switchInput:checked+.label .switchIcon {
  transform: translate3d(44px, -50%, 0);

  svg path {
    fill: #3a3a3a;
  }
}

/* SWITCH END */

.buttonIcon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.inputPadding {
  padding-right: 50px;
}

.inputCheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.labelCheckbox {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  transform: none;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  border-radius: 5px;
  border: 2px solid var(---gray);
  overflow: hidden;
}

.labelCheckbox::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.labelChecked {
  border-color: var(---green);
}

.labelChecked::before {
  border-color: transparent;
  background-color: #fff;
  background-image: url('./icons/ready.svg');
}
