@use '../../styles/mixins.scss';

.component {
  position: relative;
}

.input {
  font-size: 16px;
  color: var(---text);
  border: 1px solid var(---gray);
  @include mixins.theme(all);
  padding: 15px 20px;
  border-radius: 10px;

  &:focus {
    border-color: var(---yellow);

    &+label {
      color: var(---yellow);
      top: 0;
    }
  }
}

.inputL {
  width: 100%;
}

.inputAuto {
  width: auto;
}

.label {
  color: var(---gray);
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  left: 15px;
  top: 0;
  padding: 0 5px;
  background: var(---bg);
  transform: translateY(-50%);
  transition:
    background-color .4s,
    color .4s,
    top .1s
}

.labelCenter {
  top: 50%;
}