@use '../../styles/mixins.scss';

.component {
  width: 100%;
  @include mixins.flex-center;
  flex-direction: column;
}

.text {
  width: 100%;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}

.icon {
  display: block;
  width: 80px;
  height: 80px;
  margin-top: 15px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
