html[data-theme='light'] {
  ---bg: #FFFFFF;

  /* HEADER */
  ---bg-header: #FFDC23;
  ---header-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  ---bg-active-link: rgba(255, 188, 54, 0.33);
  ---border-active-link: rgba(233, 155, 0, 1);

  /* ITEM */
  ---item-bg: rgba(255, 188, 54, 0.33);
  ---item-delete-icon: #A70000;
  ---item-line: #A70000;
  ---item-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.25);
  ---item-completed: rgba(147, 136, 98, 0.7);

  /* ALERT GREEN */
  ---ready-bg: #D1E7DD;
  ---ready-border: #96D2B7;
  ---ready-icon: #10AC3C;
  ---ready-text: #0A4E2E;

  /* ALERT RED */
  ---error-bg: #F8D7DA;
  ---error-border: #F8A1A9;
  ---error-icon: #D75A4A;
  ---error-text: #842029;

  /* ALERT YELLOW */
  ---warning-bg: #FFF3CD;
  ---warning-border: #E4C769;
  ---warning-icon: #EFCE4A;
  ---warning-text: #664D03;

  /* SVG ADD */
  ---yellow-svg-add: #FFBC36;

  /* GLOBAL */
  ---text: #000;
  ---gray: #B9B9B9;
  ---yellow: #deba0c;
  ---red: #ff7070;
  ---green: #00A32E;
  ---blue: #0091ff;
}

html[data-theme='dark'] {
  ---bg: #181e24;

  /* HEADER */
  ---bg-header: #D3AA56;
  ---header-shadow: 0px 2px 7px 0px rgba(146, 111, 41, 1);
  ---bg-active-link: #B48D40;
  ---border-active-link: #8C6100;

  /* ITEM */
  ---item-bg: #957638;
  ---item-delete-icon: #A70000;
  ---item-line: #A70000;
  ---item-shadow: 0px 5px 20px 0px rgba(255, 188, 54, 0.25);
  ---item-completed: rgba(25, 25, 25, 0.5);

  /* ALERT GREEN */
  ---ready-bg: #D1E7DD;
  ---ready-border: #96D2B7;
  ---ready-icon: #10AC3C;
  ---ready-text: #0A4E2E;

  /* ALERT RED */
  ---error-bg: #F8D7DA;
  ---error-border: #F8A1A9;
  ---error-icon: #D75A4A;
  ---error-text: #842029;

  /* ALERT YELLOW */
  ---warning-bg: #FFF3CD;
  ---warning-border: #E4C769;
  ---warning-icon: #EFCE4A;
  ---warning-text: #664D03;

  /* SVG ADD */
  ---yellow-svg-add: #966c17;

  /* GLOBAL */
  ---text: #fff;
  ---gray: #eee;
  ---yellow: #deba0c;
  ---red: #ff7070;
  ---green: #00A32E;
  ---blue: #0091ff;
}