@use '../../styles/mixins.scss';

.component {
  @include mixins.fluidMaxSize(300);
  display: block;
  position: fixed;
  top: 50px;
  right: 20px;
  z-index: 99;
  padding: 15px 20px 20px 20px;
  border-radius: 12px;
}

.text {
  display: block;
  font-size: 16px;
  color: var(---textBlack);
  padding-top: 5px;
}

.green {
  background-color: var(---green);
}

.red {
  background-color: var(---red);
}

.blue {
  background-color: var(---blue);
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  transition: opacity 1s ease-out;
  opacity: 1;
}
.alert-exit-active {
  transition: opacity 1s ease-out;
  opacity: 1;
}