@use './styles/mixins.scss';
@use './styles/animates.scss';
@import './styles/colors.css';

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: var(---text);
  background-color: var(---bg);
  @include mixins.theme(all);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

input,
button {
  border: none;
  outline: none;
  font-family: inherit;
  background-color: transparent;
}

.container {
  @include mixins.fluidMaxSize(1080);
  margin: 0 auto;
}

.title-h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 80px;
}

.main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-section {
  @include mixins.flex-spb;
}

.col {
  flex-basis: 400px;
  margin: 0 50px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.hr {
  margin: 50px 0;
}

// ANIMATIONS
.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  animation: alert-visible 350ms ease-out forwards;
}

.alert-exit-active {
  animation: alert-hidden 200ms ease-out forwards;
}

.note-enter-active {
  animation: note-add 800ms ease-out forwards;
}

.note-exit-active {
  animation: note-delete 500ms ease-out forwards;
}
